<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Simple MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <p> Today there was a @Model.Adjective @Model.Noun in my @Model.Noun. </p> 

  </body>
</html> -->