<!DOCTYPE html>
<html>
  <head>
    <title>Simple MadLib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <p> Today there was a @Model.Adjective1 @Model.Noun1 in my @Model.Noun2. Wow @Model.VerbPT1. </p> 

  </body>
</html>